{% extends "layout.njk" %}

{% block head %}
<title>Development - MassenanDev</title>
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>{{ item.title }}</h1>
    </div>

    <section class="video">

        <div class="card" id="{{item.id}}">
            <div class="card_video-container">
                <iframe src="https://www.youtube.com/embed/{{item.id}}" frameborder="0"></iframe>
            </div>
            <div class="card_content">
                <p>{{item.title}}</p>
            </div>
            <div class="card_inf">
                <p>{{item.type}}</p>
                <p class="card_price">{{item.language}}</p>
            </div>
        </div>
  
    </section>
  
{% endblock %}